.inputLogin{
    margin: 1rem;
}

.picture{
    position: absolute;
    margin-left: 30rem;
}

.validate-form{
    display: grid!important;
    justify-content: center!important;
}

.Logo{
    width: 25rem;
}


@media only screen and (max-width: 992px){
    .container-login-phase{
        width: 100%;
    }
    .login100-form{
        width: 100%!important;
    }
    .Logo{
        display: none;
    }
}

.login100-form-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    font-weight: bold;
}