
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Montserrat:wght@300;500;700&family=Raleway&display=swap');

.all-content-newfeed{
    
}

.logo-brand {
    margin: 0 4rem;
}

.input-searching {
    margin-left: 2rem;
}

.searching {
    margin-right: 5rem;
}

.input100 {
    margin-top: 0.5rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #D8D8D8;
    margin: 0 1.5rem;
}

.btn-circle:hover{
    background-color: #B7C4CF;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    padding: 0;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.image-item{
    width: 2rem;
}

.navbar{
    width: 100%;
}

.navbar-item-left{
    position: relative;
    
}

.item-left{
    margin: 0 1.5rem;
}

.scrollbar {
    margin-left: 0.8rem;
    float: left;
    height: 300px;
    width: 25%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}

.logo-forum{
    width: 2.5rem;
    height: 2.5rem;
}

.Whatnew{
    text-decoration: none;
    margin: 1.2rem 0;
}

.Whatnew p{
    margin-left: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.Forum{
    background-color: #DFF6FF;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

.Forum p{
    font-family: 'Montserrat', sans-serif;
}

.hyper-navbar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.name-dropdown{
    background-color: #B4CDE6;
    padding: 0.5rem;
}

.body-content{
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    margin: 0.2rem;
    margin-left: 1rem;
}


.scroller span {
    position: relative;
    top: 0;
    animation: slide 8s infinite;
    font-weight: bold;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -1.2em;
    }
    50% {
        top: -2.4rem;
    }
}

.news-scroller-content{
    background-color: #B4CDE6;
    padding: 0.5rem 0;
    margin-top: 4rem;
}

.news-scroller-content p{
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.card-news-content{
    width: 80%;
}

.card-news-image{
    height: 15rem;
}

.card-news:hover{
    -webkit-animation: moving 1s;
}

@keyframes moving {
    0%{
       top: 0%; 
    }
    100%{
        top: -0.3rem;
    }
}

.ContentTitle {
    margin-left: 2rem;
}

/* -------------------------------> Weather Card New Feed <-------------------------- */
.content-weather{
    padding: 1rem;
    background-color: #DFF6FF;
    height: 20rem;
}

.content-weather p{
    font-size: 1.3rem;
    margin-left: 0.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-content-weather{
    margin: 0.5rem;
}

.dropdown-custom {
    margin-top: 1rem;
    padding-top: 0;
}

.dropdown-custom-a{
    background-color: #31C6D4;
    font-size: 1.2rem;
}

.me-auto-a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.05rem;
}

.content-news-first{
    margin: 0 1rem 1rem 1rem;
    background-color: #B2C8DF;
    border-radius: 1rem;
    width: 97%;
    padding: 0.4rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.content-news-second{
    margin: 1rem 1rem;
    background-color: #8CC0DE;
    border-radius: 1rem;
    width: 97%;
    font-family: 'Montserrat', sans-serif;
}

/*Web scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px black;
	border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #adbfff;
	border-radius: 10px;
    border-style: solid;
    border-color: #645C5C;
  }

.login-button{
    margin: 0 1rem;
}
