.deleteQ{
    margin-top: 0.5rem;
    padding: 1rem;
    width: 35%;
    border-radius: 1.5rem;
    background-color: burlywood;
}

.button-choosing-delete{
    width: 100%;
    display: flex;
    justify-content: center;
}

.deleteQ p{
    width: 100%;
}

.buttons{
    margin-left: 10px;
}

.butt{
    position: relative;
    margin-left: 600px;
    margin-top: -40px;
}

.font-delete-comment{
    color: rgb(224, 42, 42);
}

.button-delete-comment{
    border: 0px;
    width: 100%;
    background-color: red;
}

.button-delete-unaccept{
    background-color: darkseagreen;
}